* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: #050505;
  font-family: Inter, sans-serif;
  color: white;
  overflow-x: hidden;

}

body::before {

  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(0, 255, 0, .03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 0, .03) 1px, transparent 1px);

  background-size: 60px 60px;

  z-index: -2;

}

body::after {

  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at top, #00ff7a11, transparent 50%);
  z-index: -1;

}

header {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 8%;

  position: fixed;
  top: 0;

  backdrop-filter: blur(12px);

  background: rgba(0, 0, 0, .35);

  border-bottom: 1px solid rgba(0, 255, 120, .08);

  z-index: 999;

}

.logo{

  font-size: 22px;
  font-weight: 800;
  letter-spacing: 2px;

  color: #42DCA4;

}

nav {

  display: flex;
  gap: 40px;

}

nav a {

  color: #ddd;
  text-decoration: none;
  transition: .3s;

}

nav a:hover {

  color: #42DCA4;

}

.animar-linha {
  color: #F8FAFC;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.animar-linha::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #42DCA4;

  width: 0%;
  transition: width 0.3s ease;
}

.animar-linha:hover::after {
  width: 100%;
}

.hero {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 8%;

}

.hero-content {

  max-width: 760px;

}

h1 {
  text-align: center;
  font-size: 150px;
  line-height: 1.05;

  font-weight: 800;

  margin-bottom: 5%;

}

h2 {
  text-align: center;
  font-size: 100px;
  line-height: 1.05;

  font-weight: 700;
  margin-top: 10%;
  margin-bottom: 5%;

}

hr {
  border: 0;
  border-top: 2px solid #df2c62;

}

.hero p {

  color: #999;
  font-size: 19px;
  line-height: 1.7;
  max-width: 700px;
  text-align: center;

}

.section {

  padding: 0 120px;

}

.grid {

  display: grid;

  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));

  gap: 25px;

}

.box {
  display: flex;
  background: #0a0a0a;
  gap: 15%;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, .05);
  transition: .4s;

}

.box:hover {
  border-color: #df2c62;

}

.box h3 {
  position: absolute;
  margin-bottom: 15px;
  font-size: 40px;
  color: #42DCA4;

}

.box p {
  flex: 1;
  margin-top: 5%;
  color: #888;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.box iframe {
  flex: 1;
  padding-left: 15%;
  align-self: center;

}

.start {
  display: flex;
  justify-content: flex-end;
  padding: 2% 120px;

}

.mid {
  display: flex;
  justify-content: space-between;
  padding: 2% 120px;

}

.end {
  display: flex;
  justify-content: flex-start;
  padding: 2% 120px;

}

.btn {
  padding: 16px 34px;
  border-radius: 30px;
  background-color: white;
  border: white;
  color: black;
  transition: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 700;

}

.btn:hover {
  box-shadow: 0 0 20px #ddd;
  transform: translateY(-3px);

}

footer {

  padding: 40px;

  text-align: center;

  color: #555;

  margin-top: 50px;

}

@media(max-width:900px) {

  h1 {

    font-size: 48px;

  }

  nav {

    display: none;

  }

}